<section class="container">
    <h1 class="title text-center m-5">Payment Confirmation</h1>
    {{#if user}}
        <div class="text-muted">CartId: <b id="cart_id">{{user.cart._id}}</b></div>

        <h2 class="text-center m-5">{{user.first_name}}, thanks for choosing us!</h2>
        
        <section class="text-center m-5">
            <p>Your ticket number is: <strong>{{ticket.code}}</strong></p>
            <p>You've paid: <strong>{{ticket.amount}}</strong></p>
            <p>Please, check your inbox for the confirmation email, sended to: {{user.email}}</p>
            <p>In case of any doubt, please get in touch with us</p>
        </section>
    {{/if}}
</section>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>