<section class="container login-container">
    <form action="/users/resetLink/{{uid}}/{{token}}" method="post" class="form_login">
        <h2>Password Reset</h2>
        <label class="m-3" for="user_email">User Email: </label>
        <input class="m-3" type="text" placeholder="{{userEmail}}" name="user_email" disabled> <br>
        <label class="m-3" for="user_id">User ID: </label>
        <input class="m-3" type="text" placeholder="{{uid}}" name="user_id" disabled> <br>
        <label class="m-3" for="user_token">Token: </label>
        <input class="m-3" type="text" placeholder="{{token}}" name="user_token" disabled> <br>
        <label class="m-3" for="password">New Password:</label>
        <input class="m-3" type="text" placeholder="Insert new password" name="password"> <br>
        <button class="m-3" type="submit" class="btn btn-outline-success">Change Password</button>
    </form>
</section>