<main class="container">
    {{#if user}}
        <form class="new_product-form" action="/users/updateInfo" method="POST"> 
            <p class="sub_title">Update USER information.</p>
            <input type="text" name="first_name" placeholder="Name: {{user.first_name}}"  disabled/>
            <input type="text" name="last_name" placeholder="Lastname: {{user.last_name}}"  disabled/>
            <input type="email" name="email" placeholder="Email: {{user.email}}" />
            <input type="text" name="rol" placeholder="Your Rol: {{user.rol}}" />
            <input type="number" name="age" placeholder="Age: {{user.age}}" />
            <input type="text" name="owner" placeholder="User ID: {{user._id}}" value="{{user._id}}" disabled/>
            <button class="btn btn-info" id="send-btn" >Update</button>
        </form>
    {{/if}}
</main>